.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
 @-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  

  .letter-spacing{
    word-spacing: 0px;
    letter-spacing: 0px;
  }


  .chatbg{
    background-image: url('./assets//chatbg.jpg');
    /* background-repeat: no-repeat; */
    background-size: 15%;
    background-position: center;
    /* border: 2px solid white; */
    /* filter: brightness(0.4); */
    box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.1) ;
     position: relative;
  }
  .chatbg::before{
    content: "";
    position: absolute;
    top: 0%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.692);
    /* background: transparent; */
    border-radius: 8px;
  }
  *{
    box-sizing: border-box;
  }